body{
    border: 20px solid #bdc3c7;
    padding: 20px;
    width: 700px;
    margin: 20px auto;
}
.mainp{
    border-left: 5px solid #bdc3c7;
    padding-left: 5px;
}

.date{
    text-transform: uppercase;
    color: #3498db;
    letter-spacing: 5px;
}

h2{
    color: blue;
    font-size: 2.0em;
}
.post{
    margin-bottom: 20px;
}

hr{
    height: 12px;
    bottom: 0px;
    box-shadow: inset 0 12px 12px rgba(0, 0, bl0ue, a0.5);
}